@{
    ViewBag.Title = "Student";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<li>@Html.ActionLink("Apply", "Apply", "Apply")</li>
<li>@Html.ActionLink("View Courses", "Index", "Courses")</li>

<p>Use this area to provide additional information.</p>
